<section>
  <h2>Christoph Ott 💖 @ LC</h2>
  <p>
    Philanthropist without any 💸 / <b>!</b>Playboy / Founder & today your
    speaker ⚡
  </p>
  <img src="/images/uter.png" alt="uter" style="width: 20%; height: auto" />
</section>
<section>
  <h2>Background 🦄</h2>

  <ul>
    <li>
      > 100 years of Software Development expierence (kind of - C64, DOS, Norton
      Commander FTW)
    </li>
    <li>From .NET | Java to Javascript | Typescript</li>
    <li>
      Big Fan of everything that delivers value without creating waste = LC
      Mantra
    </li>
    <li>
      OPEN SOURCE Fan-Boy (Linux, JS Frameworks, NodeJS, Bitcoin & so many
      more...)
    </li>
  </ul>
</section>
<section>
  <img
    src="/images/old_meme.png"
    alt="old_meme"
    style="width: 50%; height: auto"
  />
</section>
